<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="keywords" content="toczenie,frezowanie,wiecenie,pompy hydroforowe,naprawa pomp,felgi na zamówienie,rowki pod wpusty,obróbka skrawaniem,warsztat mechaniczny,Ciężkowice">
<meta name="description" content="Uługi tokarskie i frezarskie Tok&Frez">
<meta name="robots" content="index,follow">
<meta name="author" content="Tomasz Szymański">
<title>Usługi tokarskie i frezarskie Tok&Frez</title>