<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TOK&FREZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="about.html">O nas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Oferta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://tokfrez.com.pl/#pompy">Regeneracja pomp hydroforowych</a>
                    <a class="dropdown-item" href="http://tokfrez.com.pl/#felgi">Felgi na zamówienie</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Wykonywanie wpustów</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Kontakt</a>
            </li>
        </ul>
        <span class="navbar-text"><span class="fa fa-phone fa-lg px-1"/>791 775 010</span>
        <ul class="nav navbar-nav px-2">
            <li><a href="https://www.facebook.com/TokFrez-108253493931843/" class="fa fa-facebook-square fa-lg"></a></li>
        </ul>
    </div>
</nav>