<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">TOK&FREZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="about.html">O nas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Oferta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="felgi.html">Felgi na zamówienie</a>
                    <a class="dropdown-item" href="pompy.html">Regeneracja pomp hydroforowych</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="uslugi_tokarskie.html">Usługi tokarskie</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="tarcze_i_bebny_hamulcowe.html">Tarcze i bębny hamulcowe</a>
                    <a class="dropdown-item" href="przekladnie.html">Przekładnie do napędów ciągników</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="rowki.html">Rowki pod wpusty</a>
                    <a class="dropdown-item" href="kola_zamachowe.html">Koła zamachowe</a>
                    <a class="dropdown-item" href="wsporniki.html">Naprawy wsporników</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Kontakt</a>
            </li>
        </ul>
        <span class="navbar-text"><span class="fa fa-phone fa-lg px-1"/></span><a href="tel:791 775 010">791 775 010</a>
        <span class="navbar-text">
            <a href="https://www.facebook.com/TokFrez-108253493931843/" class="nav-link fa fa-facebook-square fa-lg"></a>
        </span>
    </div>
</nav>
<div class="navbar-after-filler"></div>